<div class="campaing-new row">

  <div class="small-12 column">
    <%= back_link_to admin_campaings_path %>

    <h1><%= t("admin.campaings.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
